VITE_SUPABASE_URL=https://bqfunpjgupgxsjddtcgo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJxZnVucGpndXBneHNqZGR0Y2dvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MDM5NTQsImV4cCI6MjA4ODI3OTk1NH0.4qpRmcyf3s_keqOIi3AOLOKxKAjQpGr2zODji4cMcLk
